.list {
	display: grid;
	gap: 30px 15px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
}

.notFound {
	width: 100%;
	font-size: 1.7rem;
	grid-area: 2/3/5/5;
	opacity: 0.7;
}

@media (max-width: 1600px) {
	.list {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1280px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
	}
}