
.row {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
  align-items: center;

  label {
    color: var(--midgrey);
    align-self: start;
  }
  input {
    min-width: 250px;
  }
  textarea {
    resize: none;
    min-width: 250px;
  }
}
