.container {
	display: flex;
	flex-direction: row;
	padding: 10px 5px;
	border-bottom: #f5f5f5 2px solid;
	justify-content: start;
	margin: 0 auto 25px;
	align-items: end;
}

.title {
	font-size: 2rem;
	line-height: 55px;
	margin: 0;
	padding: 0;
	background: linear-gradient(180deg, #3b3b3b, #888888);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.navigation {
	width: 100%;
	max-width: 65%;
	padding: 0 40px;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 15px;
}



