@import url('shared/fonts/roboto.css');

:root {
  --darkgrey: #444444;
  --midgrey: #676767;
  --lightgrey: #adadad;
  --lightpink: #ec5990;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  margin: 0 auto;
  color: var(--darkgrey)
}

button {
  font-family: Roboto, sans-serif;
}

input, textarea {
  outline: none;
  font-family: Roboto, sans-serif;
  border: var(--lightgrey) 1px solid;
  border-radius: 2px;
  padding: 10px;

  &:focus {
    border-color: dodgerblue;
  }
}

.App {
  text-align: center;
}
