@import url('shared/fonts/roboto.css');

:root {
  --darkgrey: #444444;
  --lightpink: #ec5990;
  --lightgrey: #adadad;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  margin: 0 auto;
  color: var(--darkgrey)
}
button {
  font-family: Roboto, sans-serif;
}

.App {
  text-align: center;
}
