
.form {
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  flex-direction: column;
  align-content: center;
  gap: 10px;

  div {
    font-size: 1rem;
  }

  h3 {
    justify-self: start;
    margin: 50px 0 0;
    font-size: 1.4rem;
    font-weight: 700;
  }
}

.buttons {
  align-self: start;
  justify-self: end;
  button {
    display: inline-block;

    &:nth-child(2) {
      margin-left: 20px;
    }
  }
}