.form {
  margin: 0 auto;
  gap: 20px;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;

  p {
    margin: 0;
    padding: 0;
  }

  button {
    margin-top: 40px;
  }

  .closeButton {
    position: absolute;
    margin: 0;
    top: 5%;
    right: 5%;
  }
}

