
.container {
  padding: 0 20px 20px 0;
  max-width: 768px;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;

  h3 {
    margin: 0;
    font-size: 2rem;
  }

  img {
    object-fit: contain;
    max-width: 200px;
    border-radius: 5px;
  }

}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
