@import url('shared/fonts/roboto.css');

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3b3b3b;
  padding: 50px 10px;
}

