@import url('shared/fonts/roboto.css');

body {

  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3b3b3b;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

