.container {
  border-radius: 2px;
  box-shadow: var(--lightgrey) 0 0 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
  &:hover {
    border-color: dodgerblue;
    box-shadow: dodgerblue 0 0 5px;
  }
  input {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: lightgray;
    }
  }
}

